* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    padding: 30px;
    color: #004B87;
}
.Empresa {
    padding: 10px;
    margin-left: 30px;


}


.avião {
    height: auto;
    width: 90px;
}
.subtitulo{
    font-size: 16px;
}


.usuarioInfo{
    margin-left: 600px;
    display: flex;
}


.usuarioInfo .usuario{
    height: 50px;
    width: 50px;
}








.sub-header{
    background-color: #004B87;
}


ul{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
   
}


ul, li, a{
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}


